@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/Roboto/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./fonts/ROboto/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('./fonts/Playfair_Display/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/Playfair_Display/playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p, h1, h2, img, body {
    padding: 0;
    margin: 0;
} 

h1 {
    font-family: 'playfair_displayregular';
    margin-bottom: 10px;
}

.header {
    position: relative;
    padding: 1rem;
    background-color: white;
    background-image: linear-gradient(-20deg, white 50%, #013A6B 50%);
}

.profile {
    position: relative;
}

.headshot {
    width: 100%;
    object-fit: contain;
}

.name {
    color: white;
    font-size: 6rem;
    position: absolute;
    bottom: 0;
    padding: 0 1.5rem 1.5rem 0;
    text-align: right;
    font-weight: lighter;
    line-height: 7rem;
}

.about {
    padding: 0.75rem;
    margin-bottom: 2rem;
}

.about > h1 {
    text-align: center;
}

.about > p {
    font-family: 'robotoregular';
    color: rgb(99, 96, 96);
}

.icon-tray {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.icon {
    max-width: 30px;
}

.icon-small {
    max-width: 20px;
}

.my-work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1rem;
    padding: 2rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 250px;
}

.card > img {
    width: 100%;
    object-fit: contain;
    border: 1px solid black;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.contact {
    background-color: #008080;
    padding: 2rem;
    margin-top: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.info > h1 {
    align-self: center;
}

.contact > img {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 550px) {
    .name {
        font-size: 4rem;
        line-height: 5rem;    
    }
}

@media (max-width: 400px) {
    .name {
        font-size: 3rem;
        line-height: 4rem;    
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .headshot {
        width: 200px;
        height: auto;
        object-fit: auto;
        float: left;
        padding-right: 2rem;
    }

    .header {
        background-color: white;
        background-image: linear-gradient(-15deg, white 50%, #013A6B 50%);
    }

    .name {
        top: 30px;
        left: 170px;
        font-size: 2.75rem;
        line-height: 3.5rem;
    }

    .about {
        margin-top: 7rem;
        margin-left: 2rem;
        background-color: white;
        border: 1px solid lightgray;
    }

    .contact {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
    }

    .info {
        max-width: 350px;
    }

    .contact > img {
        max-width: 350px;
    }
}

@media (min-width: 1000px) {
    .headshot {
        width: 300px;
        height: auto;
        object-fit: auto;
    }

    .header {
        background-color: white;
        background-image: linear-gradient(-10deg, white 50%, #013A6B 50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .name {
        bottom: 0;
        right: 0;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .about {
        background-color: white;
        height: 300px;
        max-width: 500px;
        padding: 2rem;
        margin: 0;
        border: 1px solid lightgray;
    }

    .about > .icon-tray {
        justify-content: flex-end;
    }

    .contact {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
    }

    .info {
        max-width: 450px;
    }

    .contact > img {
        max-width: 450px;
    }
}